/*Estilos Generales*/

/*-----------------------Reseteamos estilos por defecto-----------------------*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container-img{
    width: 100%;
    /* para ocupar toda la altura de la pantalla   height: 100vh */
    height: 100vh; 
    background-image: url('../assets/img/night.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;



}

.cat{
   width:40%;
   position:relative;
   left:50%;
   top: 50%;
   transform: translateX(-50%);
   overflow: auto;
}

img{
    background-size: cover;
    max-width: 100%;
}


/*-----------------------Estilos Mobile-----------------------*/


/*-----------------------Estilos Tablet-----------------------*/
@media (min-width: 768px){
    .container-img{
        background-image: url('../assets/img/dawn.png');
    }
  
    img{
        content: url('../assets/img/kitten-large.png');
    }

}

/*-----------------------Estilos Desktop-----------------------*/
@media (min-width: 992px){
    .container-img{
        background-image: url('../assets/img/sunny-day.jpg');
   }
  
   img{
       content: url('../assets/img/kitten-medium.png');
   }
} 